src/ocr_service/bin/*
src/ocr_service/obj/*
src/ocr_service.console/bin/*
src/ocr_service.console/obj/*
test/ocr_service.Test/bin/*
test/ocr_service.Test/obj/*
/test/ocr_service.Tests/bin/Debug/netcoreapp1.0
/test/ocr_service.Tests/obj/Debug/netcoreapp1.0
/src/ocr_service.webapi/bin/Debug/netcoreapp1.0
/src/ocr_service.webapi/obj/Debug/netcoreapp1.0
/.vs/ocr_service/v14/.suo
/publish
/src/ocr_service.webapi/bin/release/netcoreapp1.0
/src/ocr_service.webapi/obj/release/netcoreapp1.0
/test/ocr_service.Tests/bin/Debug/netcoreapp1.1
/test/ocr_service.Tests/obj/Debug/netcoreapp1.1
/src/ocr_service.webapi/bin/Debug/netcoreapp1.1
/src/ocr_service.webapi/obj/Debug/netcoreapp1.1
